<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <app-nodeserver></app-nodeserver>
  <!-- <h1>JSON EXAMPLE</h1>
  <ul>
    <-- <table> --> 
    <!-- <li *ngFor="let product of product">
      <table>
        <tr>
          <th>product id</th>
          <th>product name</th>
          <th>product price</th>
          <th>product description</th>
          <th>image</th>
        </tr>
        <tr>
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.description}}</td>
          <td><img src="{{product.imageUrl}}" height="100px" width="100px" /></td>
        </tr>
        <tr>
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.description}}</td>
          <td><img src="{{product.imageUrl}}" height="100px" width="100px" /></td>
        </tr>
        <tr>
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.description}}</td>
          <td><img src="{{product.imageUrl}}" height="100px" width="100px" /></td>
        </tr>
     
      
    </table>
     </li> -->
    <!-- </table> --> 
  <!-- </ul> -->

  <h1>REST DATA</h1>
    <fieldset>
        <legend>REST SERVER DATA FROM other servers</legend>
        <app-rest></app-rest>
    </fieldset>
    <!-- <h1>JSON Data Example </h1> -->
    <!-- <fieldset>
        <legend>JSON DATA </legend>
        <ul>
            <li *ngFor="let product of product">
                <p>{{product.id}}</p>
                <p>{{product.name}}</p>
                <p>{{product.description}}</p>
                <p>{{product.price}}</p>
                <img src="{{product.imageUrl}}" height="100px" width="100px" />
            </li>
        </ul>
    </fieldset> -->
</body>

</html>